<div id="comment-list">
  <% if @current_user.is_privileged_or_lower? %>
    <div style="margin-bottom: 1em;">
      <h2>Before commenting, read the <%= fast_link_to "how to comment guide", :controller => "wiki", :action => "show", :title => "howto:comment" %>.</h2>
    </div>
  <% end %>
  
  <% if @posts.empty? %>
    <h4>No comments.</h4>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="col1">
        <%= print_preview(post) %>
      </div>
      <div class="col2" id="comments-for-p<%= post.id %>">
        <div class="header">
          <div>
            <span class="info"><strong>Date</strong> <%= compact_time(post.created_at) %></span>
            <span class="info"><strong>User</strong> <%= fast_link_to h(post.author), :controller => "user", :action => "show", :id => post.user_id %></span>
            <span class="info"><strong>Rating</strong> <%= post.pretty_rating %></span>
            <span class="info">
              <strong>Score</strong> <span id="post-score-<%= post.id %>"><%= post.score %></span> 
              <% if @current_user.is_privileged_or_higher? %>
                (vote <%= link_to_function "up", "Post.vote(1, #{post.id})" %>/<%= link_to_function "down", "Post.vote(-1, #{post.id})" %>)
              <% end %>
            </span>
          </div>
          <div class="tags">
            <strong>Tags</strong>
            <% post.cached_tags.split(/ /).each do |name| %>
              <span class="tag-type-<%= Tag.type_name(name) %>">
                <%= fast_link_to h(name.tr("_", " ")), :controller => "post", :action => "index", :tags => name %>
              </span>
            <% end %>
          </div>
          <div style="margin-top: 1em;">
            <% if post.comments.count > 6 %>
              <span class="info" id="hidden-comments-notice-for-<%= post.id %>"><%= link_to_remote "#{pluralize post.comments.size - 6, 'comment'} hidden", :url => {:controller => "comment", :action => "index_hidden", :post_id => post.id} %>.</span>
            <% end %>

            <%= render :partial => "threshold_notice", :locals => {:post => post} %>
          </div>
        </div>
        <%= render :partial => "comments", :locals => {:comments => post.recent_comments, :post_id => post.id, :hide => true} %>          
      </div>
    </div>
  <% end %>

  <div id="paginator">
    <%= will_paginate(@posts) %>
  </div>

  <%= render :partial => "footer" %>
</div>
