<h1>Search IPs</h1>

<% form_tag({:action => "search_ip_addrs"}, :method => :get) do %>
  <label for="user_ids">IPs</label>
  <%= text_field_tag :ip_addrs %>    
  <%= submit_tag "Search" %>
<% end %>

<table width="100%">
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |category, results| %>
      <% results.each do |result| %>
        <tr>
          <td><%= h category %></td>
          <td><%= result["count"] %></td>
          <td><%= link_to User.find_name(result["user_id"]), :controller => "user", :action => "show", :id => result["user_id"] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<strong>All Users</strong>
<%= text_field_tag "all", @user_ids %>

<%= render :partial => "footer" %>
