<div>
  <h4>Recent Changes</h4>  
  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th width="55%">Pool</th>
        <th width="10%">Post Count</th>
        <th width="15%">Updater</th>
        <th width="15%">Date</th>
        <th width="5%"></th>
      </tr>
    </thead>
    <tbody>
      <% @updates.each do |update| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td><%= link_to h(update.pool.name), :action => "history", :id => update.pool_id %></td>
          <td><%= update.post_count %></td>
          <td><%= link_to update.updater_name, :controller => "user", :action => "show", :id => update.user_id %></td>
          <td><%= update.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= link_to "Revert", :action => "revert", :id => update.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@updates) %>
</div>

<% content_for("footer") do %>
  <li>|</li>
  <li><%= link_to "Edit", :action => "update", :id => params[:id] %></li>
  <li><%= link_to "Delete", :action => "destroy", :id => params[:id] %></li>
  <li><%= link_to "Order", :action => "order", :id => params[:id] %></li>
  <li><%= link_to "Import", :action => "import", :id => params[:id] %></li>
  <li><%= link_to "History", :action => "history", :id => params[:id] %></li>
<% end %>

<%= render :partial => "footer" %>
