<h4>Job Tasks</h4>

<table width="100%" class="highlightable">
  <thead>
    <tr>
      <th width="15%">Type</th>
      <th width="10%">Status</th>
      <th width="30%">Data</th>
      <th width="45%">Message</th>
    </tr>
  </thead>
  <tbody>
    <% @job_tasks.each do |job_task| %>
      <tr>
        <td><%= job_task.task_type %></td>
        <td><%= job_task.status %></td>
        <td><%= job_task.data_as_json %></td>
        <td><%= job_task.status_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="paginator">
  <%= will_paginate(@job_tasks) %>
</div>
