<table width="100%">
  <tfoot>
    <tr>
      <td></td>
      <td><%= submit_tag "Submit" %></td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th width="15%"><label for="ad_image_url">Image URL</label></th>
      <td width="85%"><%= text_field "ad", "image_url" %></td>
    </tr>
    <tr>
      <th><label for="ad_referral_url">Referral URL</label></th>
      <td><%= text_field "ad", "referral_url" %></td>
    </tr>
    <tr>
      <th><label for="ad_ad_type">Ad Type</label></th>
      <td><%= select "ad", "ad_type", ["vertical", "horizontal"] %></td>
    </tr>
    <tr>
      <th><label for="ad_status">Status</label></th>
      <td><%= select "ad", "status", ["active", "inactive"] %></td>
    </tr>
    <tr>
      <th><label for="ad_is_work_safe">Work Safe</label></th>
      <td><%= check_box "ad", "is_work_safe" %></td>
    </tr>
    <tr>
      <th><label for="ad_width">Width</label></th>
      <td><%= text_field "ad", "width" %></td>
    </tr>
    <tr>
      <th><label for="ad_height">Height</label></th>
      <td><%= text_field "ad", "height" %></td>
    </tr>
  </tbody>
</table>
