<div id="forum">
  <div id="search" style="margin-bottom: 1em;">
    <% form_tag({:action => "search"}, :method => :get) do %>
      <%= text_field_tag "query", params[:query], :size => 40 %>
      <%= submit_tag "Search"%>
    <% end %>
  </div>
  
  <table class="highlightable" width="100%">
    <thead>
      <tr>
        <th width="65%">Title</th>
        <th width="10%">Created by</th>
        <th width="10%">Updated by</th>
        <th width="10%">Updated</th>
        <th width="5%">Responses</th>
      </tr>
    </thead>
    <tbody>
      <% @forum_posts.each do |fp| %>
        <% content_tag :tr, :class => cycle('even', 'odd') do %>
          <td>
            <% if @current_user.is_a?(User) && fp.updated_at > @current_user.last_forum_topic_read_at %>
              <span class="forum-topic unread-topic"><% if fp.is_sticky? %>Sticky: <% end %><%= link_to h(fp.title), :action => "show", :id => fp.id %></span>
            <% else %>
              <span class="forum-topic"><% if fp.is_sticky? %>Sticky: <% end %><%= link_to h(fp.title), :action => "show", :id => fp.id %></span>
            <% end %>

            <% if fp.response_count > 30 %>
              <%= link_to "last", {:action => "show", :id => fp.id, :page => (fp.response_count / 30.0).ceil}, :class => "last-page" %>
            <% end %>

            <% if fp.is_locked? %>
              <span class="locked-topic">(locked)</span>
            <% end %>
          </td>
          <td><%= link_to h(fp.author.tr("_", " ")), :controller => "user", :action => "show", :id => fp.creator_id %></td>
          <td><%= link_to h(fp.last_updater.tr("_", " ")), :controller => "user", :action => "show", :id => fp.last_updated_by %></td>
          <td><%= time_ago_in_words(fp.updated_at) %> ago</td>
          <td><%= fp.response_count %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div id="paginator">
    <%= will_paginate(@forum_posts) %>
  </div>

  <% content_for("subnavbar") do %>
    <li><%= link_to "New topic", :action => "new" %></li>
    <% unless @current_user.is_anonymous? %>
      <li><%= link_to_function "Mark all read", "Forum.mark_all_read()" %></li>
    <% end %>
    <li><%= link_to "Help", :controller => "help", :action => "forum" %></li>
  <% end %>

  <div id="preview" style="display: none; margin: 1em 0;">
  </div>
</div>
