<h4>Search</h4>

<% form_tag({:action => "search"}, :method => :get) do %>
  <table width="100%">
    <tfoot>
      <tr>
        <td><%= submit_tag "Search" %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td width="15%"><label for="query">Body</label></td>
        <td width="85%"><%= text_field_tag "query", params[:query], :size => 40 %></td>
      </tr>
      <tr>
        <td><label for="status">Status</label></td>
        <td><%= select_tag "status", options_for_select(["", "Deleted", "Active"], :selected => params[:status]) %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if @notes %>
  <div style="margin-top: 2em;">
    <% @notes.each do |note| %>
      <div style="float: left; clear: both; margin-bottom: 2em;">
        <div style="float: left; width: 200px;">
	  <%= print_preview(note.post) %>
        </div>
        <div style="float: left;">
          <% if note.is_active? %>
            <%= hs note.formatted_body %>
          <% else %>
            (deleted)
          <% end %>
          <div><span class="author">Edited by <%= h note.author %> <%= time_ago_in_words(note.updated_at) %> ago</span></div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div id="paginator">
    <%= will_paginate(@notes) %>
  </div>
<% end %>

<%= render :partial => "footer" %>
