<h4>My Inbox</h4>

<% if @dmails.empty? %>
  <p>You have no messages.</p>
<% else %>
  <div style="margin-bottom: 1em;">
    <% form_tag({:action => "inbox"}, :method => :get) do %>
      <table width="100%">
        <tfoot>
          <tr>
            <td colspan="2"><%= submit_tag "Search" %></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td width="15%"><label for="from_name">From</label></td>
            <td width="85%"><%= text_field_tag "from_name", params[:from_name] %></td>
          </tr>
          <tr>
            <td width="15%"><label for="to_name">To</label></td>
            <td width="85%"><%= text_field_tag "to_name", params[:to_name] %></td>
          </tr>
          <tr>
            <td width="15%"><label for="title">Title</label></td>
            <td width="85%"><%= text_field_tag "title", params[:title] %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  
  <div class="mail">
    <table width="100%" class="highlightable">
      <thead>
        <tr>
          <th width="15%">From</th>
          <th width="15%">To</th>
          <th width="55%">Title</th>
          <th width="15%">When</th>
        </tr>
      </thead>
      <tbody>
        <% @dmails.each do |dmail| %>
          <tr class="<%= cycle 'even', 'odd' %>" id="row-<%= dmail.id %>">
            <td><%= fast_link_to h(dmail.from_name), :controller => "user", :action => "show", :id => dmail.from_id %></td>
            <td><%= fast_link_to h(dmail.to_name), :controller => "user", :action => "show", :id => dmail.to_id %></td>
            <td>
              <% if dmail.from_id == @current_user.id %>
                <%= link_to(h(dmail.title), {:action => "show", :id => dmail.id}, :class => "sent") %>
              <% else %>
                <% if dmail.has_seen? %>
                  <%= link_to(h(dmail.title), {:action => "show", :id => dmail.id}, :class => "received") %>
                <% else %>
                  <strong><%= link_to(h(dmail.title), {:action => "show", :id => dmail.id}, :class => "received") %></strong>
                <% end %>
              <% end %>            
            </td>
            <td><%= time_ago_in_words(dmail.created_at) %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
<% end %>

<div id="paginator" style="margin-bottom: 1em;">
  <%= will_paginate(@dmails) %>
</div>

<%= render :partial => "footer" %>
