<div class="wiki" id="wiki-show">
  <%= render :partial => "sidebar" %>

  <h2 class="title">
    <% if @tag %>
      <%= h @tag.pretty_type_name %>:
    <% end %>

    <% if @page.nil? %>
      <%= h params[:title].tr("_", " ") %>
    <% else %>
      <%= h @page.pretty_title %> <%- unless @page.last_version? -%><span class="old-version">(Version <%= @page.version %>)</span><%- end -%>
    <% end %>
  </h2>

  <% if @page.nil? %>
    <p>No page currently exists.</p>
  <% else %>
    <div id="body">
      <div style="margin-bottom: 1em;">
        <%= format_text(@page.body) %>        
      </div>
      
      <div style="margin-bottom: 1em;">

      </div>

      <% if @posts %>
        <div style="margin-bottom: 1em;">
          <h4>Recent Posts</h4>
          <div style="margin: 1em 0;">
            <% @posts.each do |p| %>
              <%= print_preview(p) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% content_for("footer") do %>
    <li>|</li>
    <% if @page.nil? %>
      <li><%= link_to "Posts", :controller => "post", :action => "index", :tags => params[:title] %></li>
      <li><%= link_to "Edit", :controller => "wiki", :action => "edit", :title => params[:title] %></li>
    <% else %>
      <li><%= link_to "Posts", :controller => "post", :action => "index", :tags => @page.title %></li>
      <li><%= link_to "History", :controller => "wiki", :action => "history", :title => @page.title %></li>
      <% if not @page.is_locked? %>
        <li><%= link_to "Edit", :controller => "wiki", :action => "edit", :title => @page.title, :version => @page.version %></li>
      <% end %>
      <% if @page.is_locked? %>
        <li><%= link_to "Unlock", {:controller => "wiki", :action => "unlock", :title => @page.title}, :method => "post" %></li>
      <% else %>
        <li><%= link_to "Revert", {:controller => "wiki", :action => "revert", :title => @page.title, :version => @page.version}, :confirm => "Are you sure you want to revert to this page?", :method => :post %></li>
        <li><%= link_to "Delete", {:controller => "wiki", :action => "destroy", :title => @page.title}, :confirm => "Are you sure you want to delete this page (and all versions)?", :method => :post %></li>
        <li><%= link_to "Lock", {:controller => "wiki", :action => "lock", :title => @page.title}, :method => :post %></li>
        <li><%= link_to "Rename", :action => "rename", :title => @page.title %></li>
      <% end %>    
    <% end %>
  <% end %>
  
  <%= render :partial => "footer" %>
</div>
