<div id="artist-add">
  <p>Separate multiple aliases and group members with commas.</p>

  <form method="post" action="/artist/create">
    <table class="form">
      <tr>
        <th><label for="artist_name">Name</label></th>
        <td><%= text_field "artist", "name", :size => 80 %></td>
      </tr>
      <% if params[:alias_id] %>
        <tr>
          <th><label for="artist_alias">Alias for</label></th>
          <td><%= text_field "artist", "alias_name", :size => 80 %></td>
        </tr>
      <% end %>
      <tr>
        <th><label for="artist_aliases">Aliases</label</th>
        <td><%= text_field "artist", "alias_names", :size => 80, :value => params[:jp_name] %></td>
      </tr>
      <tr>
        <th><label for="artist_members">Members</label></th>
        <td><%= text_field "artist", "member_names", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_urls">URLs</label></th>
        <td><%= text_area "artist", "urls", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <th><label for="artist_notes">Notes</label></th>
        <td><%= text_area "artist", "notes", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %></td>
      </tr>
    </table>
  </form>
</div>
