<div id="artist-create">
  <form method="post" action="/artist/create">
    <table class="form">
      <tr>
        <th><label for="artist_name">Name</label></th>
        <td><%= text_field "artist", "name", :size => 80 %></td>
      </tr>
      <tr>
        <th>
          <label for="artist_other_names">Other Names</label>
          <p class="info">Separate with commas</p>
        </th>
        <td><%= text_field "artist", "other_names", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_group_name">Group</label></th>
        <td><%= text_field "artist", "group_name", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_urls">URLs</label></th>
        <td><%= text_area "artist", "urls", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <th><label for="artist_notes">Notes</label></th>
        <td><%= text_area "artist", "notes", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %></td>
      </tr>
    </table>
  </form>
</div>

<%= render :partial => "footer" %>
