<h4>History for <%= @artist.name %></h4>

<div>
  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Other Names</th>
        <th>Group</th>
        <th>Updated</th>
        <th>Updated by</th>
        <th>Active</th>
        <th>URLs</th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td><%= link_to h(version.name), :action => "history", :id => version.artist_id %></td>
          <td><%= h version.other_names %></td>
          <td><%= h version.group_name %></td>
          <td><%= time_ago_in_words version.created_at %> ago</td>
          <td><%= link_to version.updater_name, :controller => "user", :action => "show", :id => version.updater_id %></td>
          <td><%= version.is_active? %></td>
          <td><%= version.urls.join(" ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@versions) %>
</div>

<% content_for("footer") do %>
  <li>|</li>
  <li><%= link_to "Show", :action => "show", :id => @artist.id %></li>
  <li><%= link_to "Edit", :action => "update", :id => @artist.id %></li>
  <li><%= link_to "Delete", :action => "destroy", :id => @artist.id %></li>
  <li><%= link_to "History", :action => "history", :id => @artist.id %></li>
  <li><%= link_to "Posts", :controller => "post", :action => "index", :tags => @artist.name %></li>
<% end %>

<%= render :partial => "footer" %>
