<div id="artist-index">
  <div id="search-form" style="margin-bottom: 1em;">
    <% form_tag({:action => "index"}, :method => :get) do %>
      <%= text_field_tag "name", params[:name], :size => 40 %> <%= submit_tag "Search" %>
    <% end %>
  </div>

  <% if @artists.any? %>
    <table class="highlightable" width="100%">
      <thead>
        <tr>
          <th width="5%"></th>
          <th width="40%">Name</th>
          <th width="55%">Updated By</th>
        </tr>
      </thead>
      <tbody>
        <% @artists.each do |artist| %>
          <% content_tag(:tr, :class => cycle('even', 'odd'), :id => "artist-#{artist.id}") do %>
            <td>
              <%= link_to "P", {:controller => "post", :action => "index", :tags => artist.name}, :title => "Find posts for artist" %>
              <%= link_to "E", {:action => "update", :id => artist.id}, :title => "Edit artist" %> 
              <%= link_to "D", {:action => "destroy", :id => artist.id} %>
            </td>
            <td>
              <%= link_to h(artist.name), {:action => "show", :id => artist.id} %>
              <% if !artist.group_name.blank? %>
                [<%= link_to(h(artist.group_name), {:action => "show", :id => nil, :name => artist.group_name})%>]
              <% end %>
            </td>
            <% if artist.updater_id %>
              <td><%= link_to h(artist.updater_name), :controller => "user", :action => "show", :id => artist.updater_id %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div id="paginator">
    <%= will_paginate(@artists) %>
  </div>

  <%= render :partial => "footer" %>
</div>
