<% if @updater_user %>
  <h4>Recent Changes by <%= @updater_user.name %></h4>
<% else %>
  <h4>Recent Changes</h4>
<% end %>

<div>
  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Other Names</th>
        <th>Group</th>
        <th>Updated</th>
        <th>Updated by</th>
        <th>URLs</th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td><%= link_to h(version.name), :action => "history", :id => version.artist_id %></td>
          <td><%= h version.other_names %></td>
          <td><%= h version.group_name %></td>
          <td><%= time_ago_in_words version.created_at %> ago</td>
          <td><%= link_to version.updater_name, :controller => "user", :action => "show", :id => version.updater_id %></td>
          <td><%= version.urls.join(" ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@versions) %>
</div>

<%= render :partial => "footer" %>