<div>
  <% if posts.empty? %>
    <p>Nobody here but us chickens!</p>
  <% else %>
    <% posts.each do |post| %>
      <%= print_preview(post, :onclick => "return PostModeMenu.click(#{post.id})") %>
    <% end %>
    <script type="text/javascript">
      <% posts.each do |post| %>
        Post.register({"id":<%= post.id %>, "tags":"<%= escape_javascript(post.cached_tags) %>", "rating":"<%= post.rating %>", "status":"<%= post.status %>"})
      <% end %>
    </script>
  <% end %>
  
  <script type="text/javascript">
    Post.init_blacklisted()
  </script>
</div>
