<div>
  <% if posts.empty? %>
    <h4>Nobody here but us chickens!</h4>
  <% else %>
    <% posts.each do |post| %>
      <%= print_preview(post, :onclick => "return PostModeMenu.click(#{post.id})") %>
    <% end %>
    <script type="text/javascript">
      <% posts.each do |post| %>
        Post.register(<%= post.id %>, '<%= escape_javascript(post.cached_tags) %>', '<%= post.rating %>', '<%= post.status %>')
      <% end %>
    </script>
  <% end %>
  
  <script type="text/javascript">
    Post.init_blacklisted()
  </script>
</div>
