<h4>Delete Post</h4>

<%= print_preview(@post, :blacklist => false) %>

<% form_tag(:action => "destroy") do %>
  <%= hidden_field_tag "id", params[:id] %>
  
  <% if @post.flags.empty? %>
    <label>Reason</label> <%= text_field_tag "reason" %>
  <% end %>
  <%= submit_tag "Delete" %> <%= submit_tag "Cancel" %>
<% end %>

<% if !@post.is_deleted? && @post.fav_count > 0 %>
  <div class="deleting-post">
    <p>
      This post was favorited by <%= pluralize @post.fav_count, "user" %>.
      <% if @post.parent_id %>
        Favorites will be transferred to <%= link_to "this parent post", :action => "show", :id => @post.parent_id, :target => "_blank" %>. If this is incorrect, reparent this post before deleting it.
      <% end %>
    <p>
  </div>
<% end %>

<%= render :partial => "footer" %>
