<div id="post-list">  
  <% if @tag_suggestions && @tag_suggestions.any? %>
    <div class="status-notice">
      Maybe you meant: <%= @tag_suggestions.map {|x| fast_link_to(h(x), { :action => "index", :tags => x }, :class => "tag-type-#{Tag.type_name(x)}" )}.to_sentence(:last_word_connector => ", or ", :two_words_connector => " or ") %>
    </div>
  <% end %>

  <div class="sidebar">
    <%= render :partial => "search" %>
    
    <%= print_rss_advertisement %>

    <div style="margin-bottom: 1em;">
      <h5>
        <%= link_to_function "Tags", "$('sidebar-tags').show(); $('sidebar-mode').hide(); $('sidebar-wiki').hide()" %> 
        <% if @artist || @wiki_page %>
          | <%= link_to_function "Wiki", "$('sidebar-tags').hide(); $('sidebar-mode').hide(); $('sidebar-wiki').show()" %> 
        <% end %>
        | <%= link_to_function "Mode", "$('sidebar-tags').hide(); $('sidebar-mode').show(); $('sidebar-wiki').hide()" %> 
      </h5>

      <div id="sidebar-tags" style="margin-top: 1em;">
        <%= print_tag_sidebar(params[:tags]) %>
        
        <div id="blacklisted-sidebar" style="display: none;">
          <h5>
            <%= link_to_function "Hidden", "$('blacklisted-list').toggle()" %>
            <span id="blacklist-count" class="post-count"></span>
          </h5>
          <ul id="blacklisted-list" style="display: none;">
          </ul>
        </div>
      </div>
      
      <div id="sidebar-wiki" style="margin-top: 1em; display: none;">
        <%= wiki_excerpt(@artist, @wiki_page, @tags) %>
      </div>
      
      <div id="sidebar-mode" style="margin-top: 1em; display: none;">
        <form onsubmit="return false;" action="">
          <div>
            <select name="mode" id="mode" onchange="PostModeMenu.change()" style="width: 13em;">
              <option value="view">View posts</option>
              <option value="edit">Edit posts</option>
              <option value="add-fav">Add to favorites</option>
              <option value="remove-fav">Remove from favorites</option>
              <option value="rating-s">Rate safe</option>
              <option value="rating-q">Rate questionable</option>
              <option value="rating-e">Rate explicit</option>
              <% if @current_user.is_privileged_or_higher? %>
                <option value="vote-up">Vote up</option>
                <option value="vote-down">Vote down</option>
                <option value="lock-rating">Lock rating</option>
                <option value="lock-note">Lock notes</option>
              <% end %>
              <% if @current_user.is_janitor_or_higher? %>
                <option value="approve">Approve post</option>
              <% end %>
              <option value="flag">Flag post</option>
              <option value="edit-tag-script">Edit tag script</option>
              <option value="apply-tag-script">Apply tag script</option>
            </select>          
          </div>
        </form>
      </div>      
    </div>
  </div>
  <div class="content">
    <%= print_advertisement("horizontal") %>      
    <% if @ambiguous_tags.any? %>
      <div class="status-notice">
        The following tags are ambiguous: <%= @ambiguous_tags.map {|x| fast_link_to(h(x), :controller => "wiki", :action => "show", :title => x)} %>
      </div>
    <% end %>
    
    <div id="quick-edit" style="display: none; margin-bottom: 1em;">
      <h4>Edit Tags</h4>
      <% form_tag(:action => "update") do %>
        <%= hidden_field_tag "id", "" %>
        <%= hidden_field_tag "post[old_tags]", "" %>
        <%= text_area_tag "post[tags]", "", :size => "60x2", :id => "post_tags" %> 
        <%= submit_tag "Update" %>
        <%= button_to_function "Cancel", "$('quick-edit').hide()" %>
      <% end %>
    </div>

    <%= render :partial => "posts", :locals => {:posts => @posts} %>

    <% content_for("blacklist") do %>
      Post.blacklist_options = { replace: false };
    <% end %>

    <div id="paginator">
      <%= will_paginate(@posts) %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var submit_quick_edit = function(e) {
    $("quick-edit").hide()
    new Ajax.Request("/post/update.json", {
      parameters: $("quick-edit").down("form").serialize(),
      onSuccess: function(resp) {
        var resp = resp.responseJSON
        notice("Post updated")
        $("quick-edit").hide()
        Post.register(resp.post)
      },
      onFailure: function(resp) {
        var resp = resp.responseJSON
        notice("Error: " + resp.reason)
      }
    })
    e.stop()    
  }
  
  $("quick-edit").down("form").observe("submit", submit_quick_edit)
  $("post_tags").observe("keydown", function(e) {
    if(e.keyCode != Event.KEY_RETURN)
      return;
    submit_quick_edit(e);
    e.stop();
  })
  PostModeMenu.init()
</script>

<% content_for("html_header") do %>
  <%= auto_discovery_link_tag_with_id :rss, {:controller => "post", :action => "piclens", :tags => params[:tags], :page => params[:page]}, {:id => 'pl'} %>
  <%= navigation_links(@posts) %>
<% end %>

<%= render :partial => "footer" %>

<div style="clear: both; color: #CCC;">
  <em>Total: <%= Time.now - @render_start_time + @db_delta_time %>s; DB: <%= @db_delta_time %>s; Page: <%= Time.now - @render_start_time %>s; Created <%= Time.now.strftime("%H:%M") %></em>
</div>
