<div id="post-popular">
  <h3><%= link_to '&laquo;', :controller => "post", :action => "popular_by_month", :year => @start.last_month.year, :month => @start.last_month.month %> <%= @start.strftime("%B %Y") %> <%= link_to_unless @start >= Time.now, '&raquo;', :controller => "post", :action => "popular_by_month", :year => @end.year, :month => @end.month %></h3>

  <%= render :partial => "posts", :locals => {:posts => @posts} %>
</div>

<%= render :partial => "footer" %>
