<div id="post-view">
  <% if @post.nil? %>
    <h2>Nobody here but us chickens!</h2>
  <% else %>
    <% if @post.is_flagged? %>
      <div class="status-notice">
        This post was flagged for deletion by <%= h @post.flag_detail.author %>. Reason: <%= format_text(@post.flag_detail.reason, :skip_simple_format => true) %>
      </div>
    <% elsif @post.is_pending? %>
      <div class="status-notice">
        This post is pending moderator approval.
      </div>
    <% elsif @post.is_deleted? %>
      <div class="status-notice">
        This post was deleted. 
        <% if @post.flag_detail %>
	        Reason: <%= format_text(@post.flag_detail.reason, :skip_simple_format => true) %>. MD5: <%= @post.md5 %>
        <% end %>
      </div>
    <% end %>

    <% if !@post.is_deleted? && @post.use_sample?(@current_user) && @post.can_be_seen_by?(@current_user)%>
      <div class="status-notice" style="display: none;" id="resized_notice">
        This image has been resized. Click on the <strong>Original image</strong> link in the sidebar to view the original image.
        <% unless @current_user.is_anonymous? || CONFIG["force_image_samples"] %>
          <%= link_to_function "Always view original", :onclick => "User.disable_samples()" %>.
        <% end %>
        <%= link_to_function "Don't show this message", "$('resized_notice').hide(); Cookie.put('hide_resized_notice', '1')" %>.
        <script type="text/javascript">
          if (Cookie.get("hide_resized_notice") != "1") {
            $("resized_notice").show()
          }
        </script>
      </div>
      <div class="status-notice" style="display: none;" id="samples_disabled">
        Image samples have been disabled. If you find this to be too slow, you can turn samples back on in your profile settings.
      </div>
    <% end %>

    <% if CONFIG["enable_parent_posts"] %>
      <% if @post.parent_id %>
        <div class="status-notice">
          This post belongs to a <%= link_to "parent post", :action => "index", :tags => "parent:#{@post.parent_id}" %>. Child posts are often subsequent pages of a doujinshi, or minor variations of the parent post (<%= link_to "learn more", :controller => "help", :action => "post_relationships" %>).
        </div>
      <% end %>

      <% if @post.has_children? %>
        <div class="status-notice">
          This post has <%= link_to "child posts", :action => "index", :tags => "parent:#{@post.id}" %>. Child posts are often subsequent pages of a doujinshi, or minor variations of the parent post (<%= link_to "learn more", :controller => "help", :action => "post_relationships" %>).
        </div>
      <% end %>
    <% end %>

    <% if @pools.any? %>
      <div class="status-notice">
        This post belongs to the following pools: <%= @pools.map {|x| link_to(h(x.pretty_name), :controller => "pool", :action => "show", :id => x.id)}.join(", ") %>
      </div>
    <% end %>

    <div class="sidebar">
      <%= render :partial => 'search' %>

      <% if CONFIG["can_see_ads"].call(@current_user) %>
        <%= CONFIG["ad_code_show_side"] %>
      <% end %>

      <%= render :partial => 'tags' %>

      <div id="stats">
        <h5>Statistics</h5>
        <ul>
          <li>Id: <%= @post.id %></li>
          <li>Posted: <%= link_to time_ago_in_words(@post.created_at) + " ago", {:action => "index", :tags => "date:" + @post.created_at.strftime("%Y-%m-%d")}, :title => @post.created_at.strftime("%c") %> by <%= link_to_unless @post.user_id.nil?, h(@post.author), :controller => "user", :action => "show", :id => @post.user_id %></li>
          <% if @post.image? %>
            <li>Size: <%= @post.width %>x<%= @post.height %></li>
          <% end %>
          <% unless @post.source.blank? %>
            <% if @post.source[/^http/] %>
              <li>Source: <%= link_to @post.source[7, 20] + "...", @post.source, :target => "_blank" %></li>
            <% else %>
              <li>Source: <%= @post.source %></li>
            <% end %>
          <% end %>
          <li>Rating: <%= @post.pretty_rating %></li>
          <li>Score: <span id="post-score-<%= @post.id %>"><%= @post.score %></span> (vote <%= link_to_function "up", "Post.vote(1, #{@post.id})" %>/<%= link_to_function "down", "Post.vote(-1, #{@post.id})" %>)</li>
          <li>Favorited by: <span id="favorited-by"><%= favorite_list(@post.favorited_by) %></span></li>
        </ul>
      </div>
      <div>
        <h5>Options</h5>
        <ul>
          <li><%= link_to_function "Edit", "$('comments').hide(); $('edit').show().scrollTo(); $('post_tags').focus()" %></li>
          <% if !@post.is_deleted? && @post.image? && @post.width && @post.width > 700 %>
            <li><%= link_to_function "Resize image", "Post.resize_image()" %></li>
          <% end %>
          <% if @post.image? && @post.can_be_seen_by?(@current_user) %>
            <li><%= link_to("#{@post.has_sample? ? "Original image":"Image"} (#{number_to_human_size(@post.file_size)})", @post.file_url, :class => @post.has_sample? ? "original-file-changed":"original-file-unchanged", :id => "highres", :onclick => "Post.highres(); return false") %></li>
          <% end %>
          <li><%= link_to "Delete", :action => "delete", :id => @post.id %></li>
          <% unless @post.is_flagged? || @post.is_deleted? %>
            <li><%= link_to_function "Flag for deletion", "Post.flag(#{@post.id})" %></li>
          <% end %>
          <% if !@post.is_deleted? && @post.image? && !@post.is_note_locked? %>
            <li><%= link_to_function "Add translation", "Note.create(#{@post.id})" %></li>
          <% end %>
          <li id="add-to-favs"><%= link_to_function "Add to favorites", "Favorite.create(#{@post.id})" %></li>
          <li id="remove-from-favs"><%= link_to_function "Remove from favorites", "Favorite.destroy(#{@post.id})" %></li>
          <% unless @post.is_deleted? %>
            <li><%= link_to "Add to pool", :controller => "pool", :action => "add_post", :post_id => @post.id %></li>
          <% end %>
          <% if @post.is_pending? && @current_user.is_mod_or_higher? %>
            <li><%= link_to_function "Approve", "if (confirm('Do you really want to approve this post?')) {Post.update(#{@post.id}, {'post[status]': 'active'})}" %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <h5>History</h5>
        <ul>
          <li><%= link_to "Tags", :controller => "post_tag_history", :action => "index", :post_id => @post.id %></li>
          <li><%= link_to "Notes", :controller => "note", :action => "history", :post_id => @post.id %></li>
        </ul>
      </div>
      <div>
        <h5>Related Posts</h5>
        <ul>
          <li><%= link_to "Previous", :controller => "post", :action => "show", :id => @post.id - 1 %></li>
          <li><%= link_to "Next", :controller => "post", :action => "show", :id => @post.id + 1 %></li>
          <% if @post.parent_id %>
            <li><%= link_to "Parent", :controller => "post", :action => "show", :id => @post.parent_id %></li>
          <% end %>
          <li><%= link_to "Random", :controller => "post", :action => "random" %></li>
          <% unless @post.is_deleted? || !@post.image? %>
            <li><%= link_to "Similar", "http://haruhidoujins.yi.org/db-search.php?url=#{@post.preview_url}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="content" id="right-col">
      <% if CONFIG["can_see_ads"].call(@current_user) %>
        <%= CONFIG["ad_code_show_top"] %>
      <% end %>

      <% unless @post.is_deleted? %>
        <div>
          <% if !@post.can_view?(@current_user) %>
            <p>You need a privileged account to see this image.</p>
          <% elsif @post.image? %>
            <div id="note-container">
              <% @post.active_notes.each do |note| %>
                <div class="note-box" style="width: <%= note.width %>px; height: <%= note.height %>px; top: <%= note.y %>px; left: <%= note.x %>px;" id="note-box-<%= note.id %>">
                  <div class="note-corner" id="note-corner-<%= note.id %>"></div>
                </div>
                 <div class="note-body" id="note-body-<%= note.id %>" title="Click to edit"><%= hs note.formatted_body %></div>
              <% end %>
            </div>
            <%= image_tag(@post.sample_url(@current_user), :alt => @post.cached_tags, :id => 'image', :onclick => "Note.toggle();", :width => @post.get_sample_width(@current_user), :height => @post.get_sample_height(@current_user), :orig_width => @post.width, :orig_height => @post.height) %>
          <% elsif @post.flash? %>
            <object width="<%= @post.width %>" height="<%= @post.height %>">
              <param name="movie" value="<%= @post.file_url %>">
              <embed src="<%= @post.file_url %>" width="<%= @post.width %>" height="<%= @post.height %>" allowScriptAccess="never"></embed>
            </object>

            <p><%= link_to "Save this flash (right click and save)", @post.file_url %></p>
          <% else %>
            <h2><a href="<%= @post.file_url %>">Download</a></h2>
            <p>You must download this file manually.</p>
          <% end %>
        </div>
        <div style="margin-bottom: 1em;">
          <p id="note-count"></p>
          <script type="text/javascript">
            Note.post_id = <%= @post.id %>

            <% @post.active_notes.each do |note| %>
              Note.all.push(new Note(<%= note.id %>, false, '<%= h note.body.to_escaped_js %>'))
            <% end %>

            Note.updateNoteCount()
            Note.show()
          </script>
        </div>
      <% end %>
      
      <h4>
        <%= link_to_function "Edit", "$('comments').hide(); $('edit').show(); $('post_tags').focus()" %> |
        <%= link_to_function "Respond", "$('edit').hide(); $('comments').show()" %>
      </h4>
      
      <div id="edit" style="display: none;">
        <% form_tag({:controller => "post", :action => "update", :id => @post.id}, :id => "edit-form") do %>
          <%= hidden_field_tag "post[old_tags]", @post.cached_tags %>
          <table class="form">
            <tfoot>
              <tr>
                <td colspan="2"><%= submit_tag "Save changes", :tabindex => 11, :accesskey => "s" %></td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <th width="15%">
                  <label class="block" for="post_rating_questionable">Rating</label>
                  <% unless @current_user.is_privileged_or_higher? %>
                    <p>Explicit tags include sex, pussy, penis, masturbation, blowjob, etc. (<%= link_to "help", {:controller => "help", :action => "ratings"}, :target => "_blank" %>)</p>
                  <% end %>
                </th>
                <td width="85%">
                  <% if @post.is_rating_locked? %>
                    This post is rating locked.
                  <% else %>
                    <%= radio_button_tag "post[rating]", "Explicit", @post.rating == "e", :id => "post_rating_explicit", :tabindex => 1 %> 
                    <label for="post_rating_explicit">Explicit</label> 
                    <%= radio_button_tag "post[rating]", "Questionable", @post.rating == "q", :id => "post_rating_questionable", :tabindex => 2 %>  
                    <label for="post_rating_questionable">Questionable</label>
                    <%= radio_button_tag "post[rating]", "Safe", @post.rating == "s", :id => "post_rating_safe", :tabindex => 3 %> 
                    <label for="post_rating_safe">Safe</label>
                  <% end %>
                </td>
              </tr>
              <% if CONFIG["enable_parent_posts"] %>
                <tr>
                  <th><label>Parent Post</label></th>
                  <td><%= text_field "post", "parent_id", :size => 10, :tabindex => 4 %></td>
                </tr>
              <% end %>
              <tr>
                <th><label>Prev Post</label></th>
                <td><%= text_field "post", "prev_post_id", :size => 10, :tabindex => 5 %></td>
              </tr>
              <tr>
                <th><label>Next Post</label></th>
                <td><%= text_field "post", "next_post_id", :size => 10, :tabindex => 6 %></td>
              </tr>
              <% if @current_user.is_privileged_or_higher? %>
                <tr>
                  <th><label class="block" for="post_is_note_locked">Note locked</label></th>
                  <td><%= check_box "post", "is_note_locked", :tabindex => 7 %></td>
                </tr>
                <tr>
                  <th><label class="block" for="post_is_rating_locked">Rating locked</label></th>
                  <td><%= check_box "post", "is_rating_locked", :tabindex => 8 %></td>
                </tr>
              <% end %>
              <tr>
                <th><label class="block" for="post_source">Source</label></th>
                <td><%= text_field "post", "source", :size => 40, :tabindex => 9 %></td>
              </tr>
              <% if @post.can_view?(@current_user) %>
                <tr>
                  <th>
                    <label class="block" for="post_tags">Tags</label>
                    <% unless @current_user.is_privileged_or_higher? %>
                      <p>Separate tags with spaces (<%= link_to "help", {:controller => "help", :action => "tags"}, :target => "_blank" %>)</p>
                    <% end %>
                  </th>
                  <td>
                    <%= text_area "post", "tags", :size => "50x2", :value => @post.cached_tags, :tabindex => 10 %>
                    <%= link_to_function "Related tags", "RelatedTags.find('post_tags')" %> | 
                    <%= link_to_function "Related artists", "RelatedTags.find('post_tags', 'artist')" %> |
                    <%= link_to_function "Related characters", "RelatedTags.find('post_tags', 'char')" %> |
                    <%= link_to_function "Related copyrights", "RelatedTags.find('post_tags', 'copyright')" %> 
                    <% if CONFIG["enable_artists"] %>
                    | <%= link_to_function("Find artist", "RelatedTags.find_artist($F('post_source'))") %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div>
            <h5>Related Tags</h5>
            <div style="margin-bottom: 1em;" id="related"><em>None</em></div>
          </div>
        <% end %>
      </div>
      
      <div id="comments" style="margin-top: 1em;">
        <%= render :partial => "comment/comments", :locals => {:comments => Comment.find(:all, :conditions => ["post_id = ?", @post.id], :order => "id"), :post_id => @post.id, :hide => false} %>
      </div>
    </div>

    <% content_for("post_cookie_javascripts") do %>
      <script type="text/javascript">
        Post.observe_text_area("post_tags")

        <% if @post %>
          var current_user = Cookie.get("login")
          var favorited_by = <%= @post.favorited_by.map {|x| x.name}.to_json %>
          if (favorited_by.include(current_user)) {
            $("add-to-favs").hide()
          } else {
            $("remove-from-favs").hide()
          }
        <% end %>

        RelatedTags.init(Cookie.get('my_tags'), '<%= params[:url] %>')
        if (Cookie.get('resize_image') == '1') {
          Post.resize_image()
        }
      </script>
    <% end %>
  <% end %>
</div>
