<div id="post-view">
  <% if @post.nil? %>
    <h2>Nobody here but us chickens!</h2>
  <% else %>
    <%= render :partial => "post/show_partials/status_notices" %>

    <div class="sidebar">
      <%= render :partial => "search" %>
      <%= CONFIG["ad_code_show_side"] if CONFIG["can_see_ads"].call(@current_user) && @post.can_be_seen_by?(@current_user) %>
      <%= render :partial => "tags" %>
      <%= render :partial => "post/show_partials/statistics_panel" %>
      <%= render :partial => "post/show_partials/options_panel" %>
      <%= render :partial => "post/show_partials/history_panel" %>
      <%= render :partial => "post/show_partials/related_posts_panel" %>
    </div>
    <div class="content" id="right-col">
      <%= CONFIG["ad_code_show_top"] if CONFIG["can_see_ads"].call(@current_user) && @post.can_be_seen_by?(@current_user) %>
      <%= render :partial => "post/show_partials/image" %>      
      <%= render :partial => "post/show_partials/image_footer" %>
      <%= render :partial => "post/show_partials/edit" %>
      <%= render :partial => "post/show_partials/comments" %>
      <%= CONFIG["ad_code_show_bottom"] if CONFIG["can_see_ads"].call(@current_user) && @post.can_be_seen_by?(@current_user) %>
    </div>

    <% content_for("post_cookie_javascripts") do %>
      <script type="text/javascript">
        Post.observe_text_area("post_tags")

        <% if @post %>
          var current_user = Cookie.get("login")
          var favorited_by = <%= @post.favorited_by.map {|x| x.name}.to_json %>
          if (favorited_by.include(current_user)) {
            $("add-to-favs").hide()
          } else {
            $("remove-from-favs").hide()
          }
        <% end %>

        RelatedTags.init(Cookie.get('my_tags'), '<%= params[:url] %>')
        if (Cookie.get('resize_image') == '1') {
          Post.resize_image()
        }
      </script>
    <% end %>
  <% end %>
</div>

<%= render :partial => "footer" %>