<h4>Undelete Post</h4>

<%= print_preview(@post, :blacklist => false) %>

<% form_tag(:action => "undelete") do %>
  <%= hidden_field_tag "id", params[:id] %>
  <%= submit_tag "Undelete" %> <%= submit_tag "Cancel" %>
<% end %>

<%= render :partial => "footer" %>
