<div id="post-add">
  <% if @current_user.is_privileged_or_lower? %>
    <div style="margin-bottom: 1em;">
      <h2>Before uploading, read the <%= link_to "how to upload guide", :controller => "wiki", :action => "show", :title => "howto:upload" %>.</h2>      
    </div>
  <% end %>
  
  <% form_tag({:controller => "post", :action => "create"}, :multipart => true, :id => "edit-form") do %>
    <div id="posts">
      <% if params[:url] %>
        <%= image_tag(params["url"], :title => "Preview", :id => "image") %>
        <p id="scale"></p>
        <script type="text/javascript">
          document.observe("dom:loaded", function() {
            if ($("image").height > 400) {
              var width = $("image").width
              var height = $("image").height
              var ratio = 400.0 / height
              $("image").width = width * ratio
              $("image").height = height * ratio
              $("scale").innerHTML = "Scaled " + parseInt(100 * ratio) + "%"
            }
          })
        </script>
      <% end %>

      <% unless @post.new_record? %>
        <div style="margin-bottom: 1em;">
          <p>This post was already uploaded (<%= link_to "post ##{@post.id}", {:action => "show", :id => @post.id}, :target => "_blank" %>).</p>
        </div>        
      <% end %>
      
      <% if PixivProxy.is_pixiv?(params[:url]) %>
        <div style="margin-bottom: 1em;">
          <% if session[:always_fetch_pixiv] %>
            <div id="pixiv" style="margin-bottom: 1em;">
              <%= render :partial => "pixiv/upload_info", :locals => {:results => PixivProxy.get(params[:url])} %>
            </div>
          <% else %>
            <div style="margin-bottom: 1em;">
              <p>
                This looks like a Pixiv upload. 
                Click <%= link_to_remote "here", :method => :get, :loading => "$('pixiv').show()", :update => "pixiv", :url => {:controller => "pixiv", :action => "upload_info", :url => params[:url]} %> to fetch information from the Pixiv page. 
                <span id="always-fetch">Click <%= link_to_remote "here", :url => {:controller => "pixiv", :action => "always_fetch"}, :success => "$('always-fetch').remove()" %> to always fetch Pixiv information.</span>
              </p>
            </div>
            
            <div id="pixiv" style="display: none; margin-bottom: 1em;">
              <em>Loading...</em>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <table class="form">
        <tfoot>
          <tr>
            <td></td>
            <td>
              <%= submit_tag "Upload", :tabindex => 8, :accesskey => "s" %>
              <%= button_to_function "Find similar", "$('always-find-similar-container').show(); Post.find_similar()" %>
              
              <span style="display: none;" id="always-find-similar-container">
                <%= check_box_tag "__always_find_similar__", "1", cookies["always_find_similar"] == "1" %>
                <label for="__always_find_similar__">Always find similar</label>
              </span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th width="15%"><label for="post_file">File</label></th>
            <td width="85%"><%= file_field "post", "file", :size => 50, :tabindex => 1 %></td>
          </tr>
          <tr>
            <th>
              <label for="post_source">Source</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>You can enter a URL here to download from a website.</p>
              <% end %>
            </th>
            <td>
              <%= text_field "post", "source", :value => params["url"], :size => 50, :tabindex => 2 %>
              <%= link_to_function("Find artist", "RelatedTags.find_artist($F('post_source'))") %>
            </td>
          </tr>
          <tr>
            <th>
              <label for="post_tags">Tags</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>Separate tags with spaces. (<%= link_to "help", {:controller => "help", :action => "tags"}, :target => "_blank" %>)</p>
              <% end %>
            </th>
            <td>
              <%= text_area "post", "tags", :size => "60x4", :tabindex => 3 %>
              <%= link_to_function "Related tags", "RelatedTags.find('post_tags')" %> | 
              <%= link_to_function "Related artists", "RelatedTags.find('post_tags', 'artist')" %> |
              <%= link_to_function "Related characters", "RelatedTags.find('post_tags', 'char')" %> |
              <%= link_to_function "Related copyrights", "RelatedTags.find('post_tags', 'copyright')" %> |
              <%= link_to_function "Search wiki", "RelatedTags.find('post_tags', 'wiki')" %>
            </td>
          </tr>
          <tr>
            <th><label for="post_parent_id">Parent</label></th>
            <td><%= text_field "post", "parent_id", :size => 5, :tabindex => 4 %></td>
          </tr>
          <tr>
            <th>
              <label for="post_rating_questionable">Rating</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>Explicit tags include sex, pussy, penis, masturbation, blowjob, etc. (<%= link_to "help", {:controller => "help", :action => "ratings"}, :target => "_blank" %>)</p>
              <% end %>
            </th>
            <td>
              <input id="post_rating_explicit" name="post[rating]" type="radio" value="Explicit" tabindex="5">
              <label for="post_rating_explicit">Explicit</label>

              <input id="post_rating_questionable" name="post[rating]" type="radio" value="Questionable" checked="checked" tabindex="6">
              <label for="post_rating_questionable">Questionable</label>

              <input id="post_rating_safe" name="post[rating]" type="radio" value="Safe" tabindex="7">
              <label for="post_rating_safe">Safe</label>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="related"><em>None</em></div>
    </div>
  <% end %>  
</div>

<% content_for("post_cookie_javascripts") do %>
  <script type="text/javascript">
    $(document).observe("dom:loaded", function() {
      Post.observe_text_area("post_tags")

      RelatedTags.init(<%= @current_user.uploaded_tags_with_types.to_json %>, <%= @current_user.recent_tags_with_types.to_json %>, <%= @artists.to_json %>)

      $("__always_find_similar__").observe("click", function(event) {
        if (event.element().checked) {
          Cookie.put("always_find_similar", "1");
        } else {
          Cookie.remove("always_find_similar");
        }
      });

      if (Cookie.get("always_find_similar") == "1" && $F("post_source").match(/^http/)) {
        Post.find_similar();
      }
    });
  </script>
<% end %>

<%= render :partial => "footer" %>

