<h1>Recent Post Appeals</h1>

<div>
  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th>Post</th>
        <th>User</th>
        <th>Flags</th>
        <th>Appeals</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.select {|x| x.can_be_seen_by?(@current_user)}.each do |post| %>
        <tr>
          <td><%= link_to image_tag(post.preview_url), :controller => "post", :action => "show", :id => post.id %></td>
          <td><%= admin_link_to_user post.user, :negative %></td>
          <td><%= post_flag_summary(post) %></td>
          <td><%= post_appeal_summary(post) %></td>
          <td><%= post.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@posts) %>
</div>
