<div class="section">
  <h6>Blocked Users</h6>
  <% form_tag(:action => "unblock") do %>
    <table width="100%" class="highlightable">
      <thead>
        <tr>
          <th width="1%"></th>
          <th width="19%">User</th>
          <th width="10%">Expires</th>
          <th width="70%">Reason</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4"><%= submit_tag "Unblock" %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @users.each do |user| %>
          <tr class="<%= cycle 'even', 'odd' %>">
            <td><%= check_box_tag "user[#{user.id}]" %></td>
            <td><%= h user.name %></td>
            <td><%= time_ago_in_words(user.ban.expires_at) %></td>
            <td><%= h user.ban.reason %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

