<h2><%= h(@user.pretty_name) %></h2>

<div style="float: left; width: 25em;">
  <table width="100%">
    <tr>
      <th width="40%">Join Date</th>
      <td width="60%"><%= @user.created_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>Level</th>
      <td>
        <%= @user.pretty_level %>
        <% if @user.is_blocked? %>
          (reason: <%= h @user.ban.reason %>; expires: <%= @user.ban.expires_at.strftime("%Y-%m-%d") %>)
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Posts</th>
      <td><%= link_to Post.count(:all, :conditions => "user_id = #{@user.id}"), :controller => "post", :action => "index", :tags => "user:#{@user.name}" %></td>
    </tr>
    <tr>
      <th>Deleted Posts</th>
      <td><%= link_to Post.count(:all, :conditions => "status = 'deleted' and user_id = #{@user.id}"), :controller => "post", :action => "deleted_index", :user_id => @user.id %></td>
    </tr>
    <tr>
      <th>Favorites</th>
      <td><%= link_to Favorite.count(:all, :conditions => "user_id = #{@user.id}"), :controller => "favorite", :action => "show", :id => @user.id %></td>
    </tr>
    <tr>
      <th>Comments</th>
      <td><%= Comment.count(:all, :conditions => "user_id = #{@user.id}") %></td>
    </tr>
    <tr>
      <th>Note Edits</th>
      <td><%= link_to NoteVersion.count(:all, :conditions => "user_id = #{@user.id}"), :controller => "note", :action => "history", :user_id => @user.id %></td>
    </tr>
    <tr>
      <th>Wiki Edits</th>
      <td><%= WikiPageVersion.count(:all, :conditions => "user_id = #{@user.id}") %></td>
    </tr>
    <tr>
      <th>Forum Posts</th>
      <td><%= ForumPost.count(:all, :conditions => "creator_id = #{@user.id}") %></td>
    </tr>
    <% if @user.invited_by %>
      <tr>
        <th>Invited By</th>
        <td><%= link_to h(User.find(@user.invited_by).name), :action => "show", :id => @user.invited_by %></td>
      </tr>
    <% end %>
    <tr>
      <th>Recent Invites</th>
      <td><%= User.find(:all, :conditions => ["invited_by = ?", @user.id], :order => "id desc", :select => "name, id", :limit => 5).map {|x| link_to(h(x.pretty_name), :action => "show", :id => x.id)}.join(", ") %></td>
    </tr>
    <tr>
      <th>Record</th>
      <td>
        <span style="color: green;"><%= UserRecord.count(:all, :conditions => ["user_id = ? AND is_positive = true", @user.id]) %></span>
        /
        <span style="color: red;"><%= UserRecord.count(:all, :conditions => ["user_id = ? AND is_positive = false", @user.id]) %></span>
        (<%= link_to "see all", :controller => "user_record", :action => "index", :user_id => @user.id %>)
      </td>
    </tr>
  </table>
</div>

<div style="float: left; width: 60em;">
  <table width="100%">
    <tr>
      <th>Similar Users</th>
      <td><%= @user.similar_users.map {|x| link_to(h(User.find(x["user_id"]).pretty_name), :action => "show", :id => x["user_id"])}.join(", ") %></td>
    </tr>
    <tr>
      <th>Favorite Tags</th>
      <td><%= @user.favorite_tags.map {|tag| link_to h(tag["tag"].tr("_", " ")), :controller => "post", :action => "index", :tags => "fav:#{@user.name} #{tag['tag']}"}.join(", ")%></td>
    </tr>
    <% CONFIG["tag_types"].select {|k, v| k =~ /^[A-Z]/ && k != "General"}.each do |name, value| %>
      <tr>
        <th>Favorite <%= name.pluralize %></th>
        <td><%= @user.favorite_tags(:type => value).map {|tag| link_to h(tag["tag"].tr("_", " ")), :controller => "post", :action => "index", :tags => "fav:#{@user.name} #{tag['tag']}"}.join(", ")%></td>
      </tr>
    <% end %>
    <tr>
      <th>Uploaded Tags</th>
      <td><%= @user.uploaded_tags.map {|tag| link_to h(tag["tag"].tr("_", " ")), :controller => "post", :action => "index", :tags => "user:#{@user.name} #{tag['tag']}"}.join(", ")%></td>
    </tr>
    <% CONFIG["tag_types"].select {|k, v| k =~ /^[A-Z]/ && k != "General"}.each do |name, value| %>
      <tr>
        <th>Uploaded <%= name.pluralize %></th>
        <td><%= @user.uploaded_tags(:type => value).map {|tag| link_to h(tag["tag"].tr("_", " ")), :controller => "post", :action => "index", :tags => "user:#{@user.name} #{tag['tag']}"}.join(", ")%></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="float: left; clear: both; margin-bottom: 1em;">
  <h4><%= link_to "Favorites", :controller => "favorite", :action => "show", :id => @user.id %></h4>
  <% if !@current_user.is_privileged_or_higher? %>
    <%= render :partial => "post/posts", :locals => {:posts => @user.favorite_posts(0, 5).reject {|x| x.is_loli?}} %>
  <% else %>
    <%= render :partial => "post/posts", :locals => {:posts => @user.favorite_posts(0, 5)} %>
  <% end %>
</div>

<div style="float: left; clear: both; margin-bottom: 1em;">
  <h4><%= link_to "Uploads", :controller => "post", :action => "index", :tags => "user:#{@user.name}" %></h4>
  <% if !@current_user.is_privileged_or_higher? %>
    <%= render :partial => "post/posts", :locals => {:posts => @user.uploaded_posts(0, 5).reject {|x| x.is_loli?}} %>
  <% else %>
    <%= render :partial => "post/posts", :locals => {:posts => @user.uploaded_posts(0, 5)} %>
  <% end %>
</div>

<div id="footer">
  <% if @current_user.is_mod_or_higher? %>
    <%= link_to "Block Account", :controller => "user", :action => "block_account", :id => @user.id %> |
  <% end %>
  <%= link_to "Send Mail", :controller => "dmail", :action => "compose", :to => @user.name %> |
  <%= link_to "All Users", :controller => "user", :action => "index" %>
</div>
