<h2>Pixiv Proxy</h2>

<%= render :partial => "header" %>

<div>
  <ul>
    <li><strong>Artist:</strong> <%= h @results[:artist] %></li>
    <li><strong>Profile:</strong> <%= link_to(h(@results[:profile_url]), "http://www.pixiv.net/" + @results[:profile_url]) %></li>
    <li><strong>Image:</strong> <%= h @results[:image_url] %></li>
    <li><strong>Tags:</strong> <%= @results[:jp_tags].map {|tag| link_to(h(tag.first), "http://www.pixiv.net/" + tag.last)}.join(", ") %></li>
  </ul>
</div>
