<div>
  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th width="1%"></th>
        <th width="4%">Post</th>
        <th width="5%">Date</th>
        <th width="10%">User</th>
        <th width="75%">Tags</th>
        <th width="5%"></th>
      </tr>
    </thead>
    <tbody>
      <% @changes.each do |change| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td style="background: <%= id_to_color(change.post_id) %>;"></td>
          <% if params[:post_id] %>
            <td><%= link_to change.post_id, :controller => "post", :action => "show", :id => change.post_id %></td>
          <% else %>
            <td><%= link_to change.post_id, :action => "index", :post_id => change.post_id %></td>
          <% end %>
          <td><%= change.created_at.strftime("%b %e") %></td>
          <td><%= h change.author %></td>
          <td><%= h change.tags %></td>
          <td><%= link_to "Revert", :action => "revert", :id => change.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@changes) %>
</div>
