<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= @page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= CONFIG["app_name"] %>" href="/">
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag :all, :cache => "application" %>
  <%= CONFIG["custom_html_headers"] %>
</head>
<body>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% else %>
    <div id="notice" style="display: none;">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= @content_for_layout %>
</body>
</html>
